# OS
.DS_Store

# Node
node_modules/

# Python
__pycache__/
*.pyc
venv/
.venv/

# IDE
.vscode/
*.code-workspace
.idea/

# Environment
.env
.env.local

# Terraform (if added later)
*.tfstate
*.tfstate.backup
.terraform/
